@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

th {
  font-weight: normal;
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

td {
  padding: 25px 25px 25px 10px;
  text-align: left;
}
